<div class="container">
  <h1   align="center">Login Page</h1>
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
<div class="form-group row">
    <label for="email" class="col-md-6 col-form-label">Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control small-input" id="email" placeholder="Email" formControlName="email">
      <div class="small-elt">
        <p *ngIf="LoginForm.get('email').errors?.['required'] && LoginForm.get('email').touched">
          Email is Required
        </p>
        <p *ngIf="LoginForm.get('email').errors?.['email'] && LoginForm.get('email').touched">
          Invalid Email
        </p>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="phoneNumber" class="col-md-6 col-form-label">Password</label>
    <div class="col-md-10">
      <input type="text" class="form-control small-input" id="Password" placeholder="Password" formControlName="Password">
    </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6"><br>
        <button type="submit" class="btn btn-info">Sign In</button><br><br> 
        <!-- <b>Or Sign Up With Google</b> -->
      </div>
     
    </div>
  </form>
</div>