<div>
  <nav>
    <div class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Job Portal Website</div>
    <br>
    <div class="btns">
      <button (click)="navigate()">Register Here</button>
      <button (click)="Loginto()">Login</button>
    </div>
  </div>
</div>
